@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
    width: 100%;
    margin: 0 auto;
    height: 755px;
}


/* navbar style start */

nav {
    border: 1px solid transparent;
    /* margin-top: 57px; */
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 57px;
}

.nav-left {}

.nav-title {
    color: rgb(230, 83, 60);
    font-size: 36px;
}

.nav-right {
    box-sizing: border-box;
    /* border: 1px solid blue; */
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    font-size: 18px;
    width: 439px;
    height: 48px;
}

.nav-right>ul {
    display: flex;
    padding: 5px;
}

.nav-right>ul>li {
    list-style: none;
    margin-top: 7px;
}

.nav-right>ul>li>a {
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}

.home {
    width: 92px;
    height: 38px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    /* padding: 8px 20px 8px 20px; */
    padding: 8px 20px 8px 20px;
}


/* navbar style end */


/* banner style start */

.banner-container {
    width: 65%;
    margin: 0 auto;
}

.banner {
    display: flex;
}

.banner-left {
    /* border: 1px solid red; */
    width: 70%;
    /* margin-left: 340px; */
    /* margin-top: 96px; */
}

.banner-left-title {
    font-size: 78px;
    font-weight: 900;
    color: white;
}

.banner-left-shape {
    font-family: "Qwitcher Grypen", cursive;
    font-size: 100px;
    font-weight: 900;
}

.banner-left-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    margin-top: 28px;
}

.banner-left-btn {
    margin-top: 28px;
}

.banner-left-btn1 {
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;
    border: none;
    font-size: 18px;
    font-weight: 600;
}

.banner-left-btn2 {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    background: black;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.banner-right {
    height: 580px;
    /* border: 1px solid red; */
    width: 30%;
    background-image: url("../images/images 2.png");
    background-repeat: no-repeat;
    /* margin-left: 550px; */
}

.banner-righ-img {}


/* banner style END */